:root {
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;

}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    position: absolute;
    top: 64px;
    left: -232px;
}

header li {
    margin-bottom: 16px;
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary { 
    font-weight: bold;
    line-height: 24px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 16px;
}

/* Adjacent Brother Selector */
/* h1 + p {
    margin-bottom: 64px;
} */

hr {
    margin: 64px 0px;
}

h2 {
    font-size: 2em;
    margin: 64px 0px 40px 0px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: white;
}


.section-content {
    counter-reset: titleList;
}

.section-content {
    display: block;
}

.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
}

.section-content h3::before {
    content: '-';
    content: counter(titleList, decimal) ".";
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

a {
    color: #212121;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    line-height: 24px;
    padding-left: 16px;
    border-left: 4px solid var(--gray30);
}

blockquote span {
    color: var(--gray10);
}

blockquote span::before {
    content: '-';
}

.header {
    position: sticky;
    top: 0;
}

.header-content {
    position: relative;
}

.main {
    background: white;
}

.wrapper {
    width: 902px;
    margin: auto;
}

.main-content {
    background: white;
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent 120px), url('../images/pattern.png');
    height: 350px;
}

.section-content img {
    max-width: 100%;
}

.section-content {
    margin-top: 164px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content + hr {
    display: none;
}

.section-content img {
    margin-top: 40px;
}