:root {
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;

}

body {
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    margin: 0;
}

.header-content{
    padding-inline: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white30);
}

header li {
    color: var(--white20);
    margin-block-end: 16px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}
header a:hover {
    color: var(--white30);
}

nav details summary { 
    font-weight: bold;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
    margin-block: 40px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}

hr {
    margin-block: 40px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

p {
    color: var(--white20);
}

.section-content {
    counter-reset: titleList;
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: '-';
    content: counter(titleList, decimal) ".";
}

/* .section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
} */

a {
    color: #157EFB;
}

pre {
    background: var(--white10);
    padding: 40px;
    border-radius: 8px;
    overflow: scroll;
    border: 10px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 40px;
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    margin-inline: 0px;
    font-size: 24px;
    line-height: 32px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    border-radius: 8px;
    background: var(--white10);
}

blockquote p {
    color: var(--white30);
}

.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    block-size: 50px;
}

.main hr {
    display: none;
}

.wrapper {
    /* inline-size: 902px; */
    margin: auto;
    max-inline-size: 636px;
}

.main-content {
    padding-inline: 16px;
}

.slider-content {
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background: #251F24;
    border-radius: 8px;
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: #157EFB;
    border: none;
}

.form input::-webkit-input-placeholder {
    color: var(--white20);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }
     
    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    
    .header-content{
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px ;
        inline-size: 188px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}